---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro the Magnificent</h1>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
		<h1>About me</h1>
        <h2>...and my new Astro site!</h2>

        <p>Astro has given me some text that they want me to use here, but I can't be bothered.</p>

        <p>If you'd like to see it for yourself, <a href="https://docs.astro.build/en/tutorial/2-pages/1/"></a>read the tutorial</a>.</p>
	</body>
</html>