---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md')
const pageTitle="Astro the Magnificent...blog!"
---
<BaseLayout pageTitle={pageTitle}>
<h2>Blog page subtitle</h2>
<h2>Lorem ipsum dolor est, sit donut.</h2>

<p>Blah blah blah blah blah, blah blah blah blah blah blah, blah blah blah blabba bluh bluh...</p>
<ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
</ul>
</BaseLayout>
