---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro the Magnificent...blog!</h1>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
		<h2>Blog page</h2>
        <h2>Lorem ipsum dolor est, sit donut.</h2>

        <p>Blah blah blah blah blah, blah blah blah blah blah blah, blah blah blah blabba bluh bluh...</p>
	</body>
</html>